body {
    height:100%;
    width:100%;
    margin: 0;
    background:url(bg-tent.png) #d7d7d7;
    font: normal 13px/18px Arial,Helvetica,sans-serif;
	background-attachment: fixed;
    background-position-x: 50%;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.btn, button[type='submit'] {
    -webkit-box-shadow: -3px 3px 0 #e05e00,-2px 2px #e05e00,-1px 1px 0 #e05e00;
    -moz-box-shadow: -3px 3px 0 #e05e00,-2px 2px #e05e00,-1px 1px 0 #e05e00;
    box-shadow: -3px 3px 0 #e05e00,-2px 2px #e05e00,-1px 1px 0 #e05e00;
    background: #f7941e;
    border: 0;
    color: white;
    cursor: pointer;
    font: 20px/1em "Open Sans Condensed",Helvetica,Arial,sans-serif;
    position: relative;
    padding: 5px 10px;
    text-transform: uppercase;
}

.btn.small, button[type='submit'].small {
	font-size: 16px;
	padding: 5px 7px;
	display: inline-block;
	margin-right: 2%;
	width: 25%;
}

header {
    background: #424242;
    margin-bottom: 20px;
    background-image:url('long-bar.png');
    background-position-y: 100%;
	min-width: 385px;
}

header .upper {
    height: 90px;
    max-width: 1140px; margin-left: auto; margin-right: auto;
    min-width: 250px;
    overflow: hidden;
    background: #424242;
}

header .lower {
    background: black;
	width: 100%;
}

header .lower #navcontainer {
    font-size: 19px;
    font-family: 'Open Sans Condensed',Helvetica, Arial, sans-serif;
    color: white;
    text-align: left;
    text-transform: uppercase;
    max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
    min-width: 350px;
    position: relative;
    padding-left: 10px;
}

.social {
    margin: 5px 5px 0 0;
    float: right;
    display: inline-block;
    height: 26px;
    width: 26px;
	cursor: pointer;
}

.happening-now {
    color: white;
    float: right;
    font: 19px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

@media (max-width: 950px){
    .happening-now{
    font: 14px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    }
}

@media (max-width: 630px){
    .happening-now{
    display: none;
    }
}

.happening-now .hilight {
    color: #eae71f;
}

.top-cat  img {
    width: 100%
}

.top-cat {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 728px;
}
.side-cat,.side-essentials {
    margin-bottom: 50px;
    position: relative;
    -webkit-box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    background: white;
    margin-bottom: 35px;
    padding: 25px;
    max-width: 300px;
    min-width: 250px;
}

#actual-cat-side-cat img{
	border: 1px solid black;
	width: 100%;
}

#sidebar-email img{
	
}

#sidebar-tentbusters-live img{
	width: 100%;
}

@media (max-width: 900px){
    .side-cat{
        max-width: 100%
    }
}

.side-essentials {
	min-width: 150px;
	max-width: 100%;
	padding: 10px;
	padding-top: 30px;
	font-weight: bold;
}

.side-essentials ul {
	margin: 0px;
	padding: 0px;
}

.side-essentials li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #b2b2b2;
	min-height: 73px;
}

.side-essentials li img{
	float: left;
	margin-right: 20px;
	width: 130px;
	height: 73px
}

.right-column{
    max-width: 350px;
    float:right;
    position: absolute;
    margin-right: 10px;
    right: 0px;
}

@media (max-width: 900px){
    .right-column{
		width: 100%;
		max-width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		position: relative;
    }
}

.right-column-top{
	width: 350px;
}

@media (max-width: 900px){
    .right-column-top{
        margin-left: 20px;
		float: left;
    }
}

@media (max-width: 700px){
    .right-column-top{
        margin-right: auto;
		margin-left: auto;
		width: 100%;
		float: none;
    }
}

.right-column-bottom{
}

@media (max-width: 900px){
    .right-column-bottom{
        max-width: 100%;
		margin-left: 390px;
    }
}

@media (max-width: 700px){
    .right-column-bottom{
        width: 100%;
		margin-left: 0px;
		float: left;
		margin-bottom: 20px;
    }
}

.side-cat img {
	width: 100%;
	border: 1px solid black;
}

.nav {
    font: 19px/38px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    vertical-align: top;
    display: inline-block;
    height: 100%;
    padding-left: 200px;
}

@media (max-width: 714px){
    .nav {
        font: 16px/38px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    }
}

@media (max-width: 660px){
    .nav {
	    font: 15px/38px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    }
}

@media (max-width: 635px){
    .nav {
	    font: 14px/38px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    }
}

@media (max-width: 615px){
    .nav {
	    font: 12px/38px "Open Sans Condensed",Helvetica,Arial,sans-serif;
		padding-left: 0px;
		padding-top: 55px;
		margin-left: auto;
		margin-right: auto;
		display: block;
    }
}

.nav-link {
    margin-right: 25px;
    display: inline-block;
}

.nav-link:hover {
    color: #eae71f;
}

article a {
    color: orange;
}

.articles-header {
    background: #313436;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font: 16px/30px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    left: 25px;
    padding: 0 14px;
    position: absolute;
    top: -20px;
    z-index: 2;
}

.sidebar-header {
    background: #313436;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font: 16px/30px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    padding: 0 14px;
    position: absolute;
    top: -20px;
    z-index: 2;
}

.content {
    max-width: 1140px;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
}

.articles {
    float: left;
    position: relative;
    max-width: 750px;
    min-width: 350px;
    margin-right: 360px;
    margin-bottom: 40px;
}

@media (max-width: 900px){
    .articles{
        margin-right: 0px;
        float: none;
        max-width: 100%
    }
}

article {
    -webkit-box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    background: white;
    margin-bottom: 35px;
    padding: 25px;
	overflow: hidden;
	position: relative;
}

.article-header {
    font-size: 32px;
    font: 42px/1 "Open Sans Condensed","NimbusSansDCondBold","HelveticaNeue-CondensedBold","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.article-byline {
    display: block;
    margin: 10px 0 20px;
    color: #666;
    font: normal 15px/1 "Open Sans Condensed","NimbusSansDCondBold","HelveticaNeue-CondensedBold","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.article-content {
    font-size: 14px;
    line-height: 20px;
    color: black;
    word-wrap: break-word;
	overflow: hidden;
}

.big-article{
	padding-bottom: 50px;
}

.big-article .article-content{
    max-height: 300px;
}

.sidebar {
    position: relative;
    -webkit-box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    background: white;
    margin-bottom: 35px;
    padding: 25px;
}

.email-header {
    border-bottom: 1px dotted #b2b2b2;
    display: block;
    font-size: 20px;
    padding-bottom: 5px;
    margin: 5px 0 15px 0;
}

.footer {
    background-color: black;
    color: white;
    position:fixed;
    bottom:0;
    width:100%;
    min-height: 30px;
    min-width:350px;
	box-shadow: 0 0 10px black;
	z-index: 400;
}

@media (max-width: 700px){
    .footer{
        position:relative;
		clear:both;
    }
}

.footer-content {
    color: gray;
    text-align: right;
    padding: 5px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.footer-logos{
	float: left;
}

.footer-logos {
	float: left;
	margin-left: auto;
	display: inline-block;
	margin-right: auto;
	width: 347px;
}

@media (max-width: 700px){
    .footer-logos {
	float: none;
	margin-left: auto;
	display: block;
	margin-right: auto;
	width: 347px;
	}
}

.footer-logos img{
height: 20px;
margin-left: 10px; 
margin-right: 10px
}

.article-img-container{
    max-width: 750px;
}

.article-img-container img{
    width: 100%;
}

.article-img-container-float-right{
    max-width: 450px;
    float: right;
    padding-left: 10px;
	max-height: 100%;
}

.article-img-container-float-right img{
    max-width: 100%;
}

.article-img-container-float-right-small{
   max-height: 300px;
	float: right;
	padding-left: 10px;
	max-width: 70%;
}

.article-img-container-float-right-small img{
    max-height: 100%;
	width: 100%;
}

.footer-links{
    float: right
}

@media (max-width: 700px){
    .footer-links{
    float: none;
	display: block;
	text-align: center;
    }
}

.gary-shoot-cat{
    position: relative;
    height: 250px;
    width: 300px;
}

.gary-shoot-cat img{
    border: 1px solid black;
    width: 100%;
}

.gary-shoot-cat p{
    font-family: Lucida Console;
    width: 60%;
    height: 20%;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 7%;
    right: 5%;
    padding: 1%;
}

.button{
    width: 70%;
    height: 12%;
    position: absolute;
    left: 16%;
    bottom: 0%;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}

#garyshootadvice{
    color: rgb(255, 31, 93);
    font-weight: bold;
}

.logo-container{
	height:129px;
	width: 191px;
	top: -70px;
	left: 10px;
	position: absolute;
	z-index: 3;
}

.logo-container img,#logo-container img{
	height:129px;
	width: 191px;
}

#logo-top {
	height: 70px;
	width: 191px;
	transition: height 0.5s;
	position: absolute;
	bottom: 59px;
	z-index: -1;
	background-image: url('top-logo/logo-top-1.png');
	background-repeat: no-repeat;
}	

.premium-tag {
	background-image: url('premium-tag.png');
	position: absolute;
	width: 99px;
	height: 98px;
	top: 0px;
	right: 0px;
}

.expand-button {
	position: absolute;
	width: 10%;
	left: 50%;
	bottom: 10px;
	text-align: center;
	width: 100px;
	margin-left: -50px;
}

.expand-button .btn.small{
	width: 100%;
}

	
#social-hidden{

}
	
#header{
	z-index: 400;
}
.header{
	position: relative;
	width: 100%;
	margin-top: 0px;
}
	
.header-fixed{
	position: fixed;
	width: 100%;
	margin-top: -90px;
	box-shadow: 0 0 10px black;
}
	
.logo-container-fixed{
	height: 129px;
	width: 191px;
	top: -63px;
	left: 10px;
	position: absolute;
	z-index: 3;
}
	
.hidden{
	display: none;
}
	
.revealed{
	display: inline-block;
	height: 26px;
}