body {
    height:100%;
    width:100%;
    margin: 0;
    background:url(bg-tent.png) #d7d7d7;
    font: normal 13px/18px Arial,Helvetica,sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.btn, button[type='submit'] {
    -webkit-box-shadow: -3px 3px 0 #e05e00,-2px 2px #e05e00,-1px 1px 0 #e05e00;
    -moz-box-shadow: -3px 3px 0 #e05e00,-2px 2px #e05e00,-1px 1px 0 #e05e00;
    box-shadow: -3px 3px 0 #e05e00,-2px 2px #e05e00,-1px 1px 0 #e05e00;
    background: #f7941e;
    border: 0;
    color: white;
    cursor: pointer;
    font: 20px/1em "Open Sans Condensed",Helvetica,Arial,sans-serif;
    position: relative;
    padding: 5px 10px;
    text-transform: uppercase;
}

.btn.small, button[type='submit'].small {
    font-size: 16px;
    padding: 5px 7px;
    display: inline-block;
    margin-right: 7px;
}

header {
    background: #424242;
    margin-bottom: 20px;
    background-image:url('long-bar.png');
    background-position-y: 100%;
}

header .upper {
    height: 90px;
    max-width: 1140px; margin-left: auto; margin-right: auto;
    min-width: 250px;
    overflow: hidden;
    background: #424242;
}

header .lower {
    background: black;
	width: 100%;
}

header .lower #navcontainer {
    font-size: 19px;
    font-family: 'Open Sans Condensed',Helvetica, Arial, sans-serif;
    color: white;
    text-align: left;
    text-transform: uppercase;
    max-width: 1140px; 
	margin-left: auto; 
	margin-right: auto;
    min-width: 350px;
    position: relative;
    padding-left: 10px;
}

.social {
    margin: 5px 5px 0 0;
    float: right;
    display: inline-block;
    height: 26px;
    width: 26px;
}

.happening-now {
    color: white;
    float: right;
    font: 19px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

@media (max-width: 950px){
    .happening-now{
    font: 14px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    }
}

@media (max-width: 730px){
    .happening-now{
    font: 10px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    }
}

@media (max-width: 630px){
    .happening-now{
    display: none;
    }
}

.happening-now .hilight {
    color: #eae71f;
}

.top-cat  img {
    width: 100%
}

.top-cat {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 728px;
}
.side-cat {
    margin-bottom: 50px;
    position: relative;
    -webkit-box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    background: white;
    margin-bottom: 35px;
    padding: 25px;
    max-width: 300px;
    min-width: 250px;
}

@media (max-width: 900px){
    .side-cat{
        max-width: 100%
    }
}

.right-column{
    max-width: 350px;
    float:right;
    position: absolute;
    margin-right: 10px;
    right: 0px;
}

@media (max-width: 900px){
    .right-column{
        position: relative;
        max-width: 100%;
        margin-right: 0px;
        float: none;
    }
}

.side-cat img {
	width: 100%;
	order: 1px solid black;
} 


.logo {
    width: 191px;
    height: auto;
    top: -70px;
    left: 10px;
    position: absolute;
    z-index: 3;
}

.nav {
    font: 19px/38px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    vertical-align: top;
    display: inline-block;
    height: 100%;
    padding-left: 200px;
}

@media (max-width: 650px){
    .nav {
        padding-left: 0;
        padding-top: 50px;
        text-align: center;
    }
}

.nav-link {
    margin-right: 25px;
    display: inline-block;
}

.nav-link:hover {
    color: #eae71f;
}

article a {
    color: orange;
}

.articles-header {
    background: #313436;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font: 16px/30px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    left: 25px;
    padding: 0 14px;
    position: absolute;
    top: -20px;
    z-index: 2;
}

.sidebar-header {
    background: #313436;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font: 16px/30px "Open Sans Condensed",Helvetica,Arial,sans-serif;
    padding: 0 14px;
    position: absolute;
    top: -20px;
    z-index: 2;
}

.content {
    max-width: 1140px;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    position: relative;
}

.articles {
    float: left;
    position: relative;
    max-width: 750px;
    min-width: 350px;
    margin-right: 360px;
    margin-bottom: 40px;
}

@media (max-width: 900px){
    .articles{
        margin-right: 0px;
        float: none;
        max-width: 100%
    }
}

article {
    -webkit-box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    background: white;
    margin-bottom: 35px;
    padding: 25px;
}

.article-header {
    font-size: 32px;
    font: 42px/1 "Open Sans Condensed","NimbusSansDCondBold","HelveticaNeue-CondensedBold","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.article-byline {
    display: block;
    margin: 10px 0 20px;
    color: #666;
    font: normal 15px/1 "Open Sans Condensed","NimbusSansDCondBold","HelveticaNeue-CondensedBold","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.article-content {
    font-size: 14px;
    line-height: 20px;
    color: black;
    word-wrap: break-word;
}

.sidebar {
    position: relative;
    -webkit-box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    box-shadow: -2px 2px 0 rgba(0,0,0,0.1);
    background: white;
    margin-bottom: 35px;
    padding: 25px;
}

.email-header {
    border-bottom: 1px dotted #b2b2b2;
    display: block;
    font-size: 20px;
    padding-bottom: 5px;
    margin: 5px 0 15px 0;
}

.footer {
    background-color: black;
    color: white;
    position:fixed;
    bottom:0;
    width:100%;
    min-height: 30px;
    min-width:350px;
}

@media (max-width: 900px){
    .footer{
        position:relative;
    }
}

.footer-content {
    color: gray;
    text-align: right;
    padding: 5px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.article-img-container{
    max-width: 750px;
}

.article-img-container img{
    width: 100%;
}

.article-img-container-float-right{
    max-width: 450px;
    float: right;
    padding-left: 10px;
}

.article-img-container-float-right img{
    width: 100%;
}

.footer-links{
    float: right
}

@media (max-width: 900px){
    .footer-links{
    float: left;
    }
}
